## Put all of the smaller json files into one big df for ease of future use

In [1]:
import pandas as pd
import os

In [2]:
json_files = []
path = './data-06-2023/'
for root, dirs, files in os.walk(path):
    for name in files:
        if name.endswith('.json'):
            json_files.append(root+'/'+name)

In [3]:
df = pd.read_json(json_files[0])
maxCols = df.shape[1]

for jf in json_files[1:]:
    tmp = pd.read_json(jf)
    if tmp.shape[1] > maxCols:
        maxCols = tmp.shape[1]
    
    df = pd.concat([df, tmp], ignore_index=True)

In [4]:
df.shape

(10081, 180)

In [5]:
maxCols

180

In [6]:
df.to_json('./lennar-data-06-2023.json')

In [7]:
lennar = pd.read_json('./lennar-data-06-2023.json')

In [8]:
lennar.shape

(10081, 180)

In [9]:
lennar.head()

,Availability,Price,Beds,Baths,Sqft,Address,Community,URL,Data_Dump,feature_0,...,feature_161,feature_162,feature_163,feature_164,feature_165,feature_166,feature_167,feature_168,feature_169,feature_170
0,Move-in ready,"$347,815",3.0,3.5,1744.0,"6235 Truxton Lane, Raleigh, NC",Manteo II in 5401 North,https://www.lennar.com/new-homes/north-carolin...,"{'Kitchen': ['36"" cabinetry with crown molding...","36"" cabinetry with crown molding and nickel ha...",...,None,None,None,None,None,None,None,None,None,None
1,Move-in ready,"$353,815",3.0,3.5,1733.0,"6334 Perry Creek Road, Raleigh, NC",Manteo II in 5401 North,https://www.lennar.com/new-homes/north-carolin...,"{'Kitchen': ['36"" cabinetry with crown molding...","36"" cabinetry with crown molding and nickel ha...",...,None,None,None,None,None,None,None,None,None,None
2,Move-in ready,"$358,815",3.0,3.5,1733.0,"6231 Truxton Lane, Raleigh, NC",Manteo II in 5401 North,https://www.lennar.com/new-homes/north-carolin...,"{'Kitchen': ['36"" cabinetry with crown molding...","36"" cabinetry with crown molding and nickel ha...",...,None,None,None,None,None,None,None,None,None,None
3,Move-in ready,"$347,815",3.0,3.5,1733.0,"6233 Truxton Lane, Raleigh, NC",Manteo II in 5401 North,https://www.lennar.com/new-homes/north-carolin...,"{'Kitchen': ['36"" cabinetry with crown molding...","36"" cabinetry with crown molding and nickel ha...",...,None,None,None,None,None,None,None,None,None,None
4,Move-in ready,"$384,875",3.0,2.5,1924.0,"5845 Humanity Lane, Raleigh, NC",Coleman in 5401 North,https://www.lennar.com/new-homes/north-carolin...,"{'Kitchen': ['36"" cabinetry with crown molding...","36"" cabinetry with crown molding and nickel ha...",...,None,None,None,None,None,None,None,None,None,None